.idea
/.idea/**/*
!/.idea/codeStyles/
!/.idea/codeStyles/**/*
*.iml
.gradle
build/
/local.properties
.local/*
*.jks
/fastlane/report.xml
/fastlane/Appfile
/captures
.externalNativeBuild
.cxx
.DS_Store

# Project exclude paths
/.assets/
/app/
/app-common/
/app-common-io/
/app-common-pkgs/
/app-common-root/
/app-common-shell/
/app-common-shizuku/
/app-common-test/
/buildSrc/
/fastlane/
/gradle/
/tooling/